In [ ]:
import json
import pandas as pd
import numpy as np

## Extract CSVs into DataFrames

In [ ]:
businessData = pd.read_json('https://yelp-business-bucket.s3.amazonaws.com/yelp_academic_dataset_business.json', lines=True)
businessData.head(50)

               business_id  ...                                              hours
0   f9NumwFMBDn751xgFiRbNA  ...  {'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'...
1   Yzvjg0SayhoZgCljUJRF9Q  ...                                               None
2   XNoUzKckATkOD1hP6vghZg  ...                                               None
3   6OAZjbxqM5ol29BuHsil3w  ...  {'Monday': '7:0-16:0', 'Tuesday': '7:0-16:0', ...
4   51M2Kk903DFYI6gnB5I6SQ  ...  {'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '...
5   cKyLV5oWZJ2NudWgqs8VZw  ...  {'Monday': '7:0-18:0', 'Tuesday': '7:0-18:0', ...
6   oiAlXZPIFm2nBCt0DHLu_Q  ...  {'Monday': '7:0-19:0', 'Tuesday': '7:0-19:0', ...
7   ScYkbYNkDgCneBrD9vqhCQ  ...  {'Monday': '7:30-17:0', 'Tuesday': '7:30-17:0'...
8   pQeaRpvuhoEqudo3uymHIQ  ...  {'Monday': '11:30-14:30', 'Tuesday': '11:30-14...
9   EosRKXIGeSWFYWwpkbhNnA  ...  {'Monday': '5:30-23:0', 'Tuesday': '5:30-23:0'...
10  MbZMmwo-eL0Jnm_Yb9KJrA  ...  {'Monday': '7:0-17:0', 'Tuesday': '7:0-17:0', ...
11  7Dv4_HAxsxvadEsT5fxQBg  ...  {'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...
12  M_guz7Dj7hX0evS672wIwA  ...  {'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ...
13  JjJs3o60uQCfctDjs45cmA  ...  {'Monday': '9:0-16:0', 'Tuesday': '9:0-16:0', ...
14  kOICO53wbOiOJcKuCgOQ3A  ...  {'Monday': '8:0-21:0', 'Tuesday': '8:0-21:0', ...
15  rqcOZePlVvJP9EtzldIz0w  ...  {'Monday': '8:0-18:0', 'Tuesday': '8:0-18:0', ...
16  uZuh51lXu7tsrC8RAwkg1A  ...                                               None
17  nIEhsGbw0vJuYl05bzzj6Q  ...                                               None
18  edQoeeBFUTYGwnUSE0tGPg  ...  {'Monday': '8:0-18:0', 'Tuesday': '8:0-18:0', ...
19  Vwo64kNYDjKi98gUUv4-iQ  ...  {'Monday': '5:30-20:0', 'Tuesday': '5:30-20:0'...
20  CsLQLiRoafpJPJSkNX2h5Q  ...                                               None
21  x3Po6tJGb729u_HJPY6UCA  ...  {'Friday': '18:0-22:0', 'Saturday': '18:0-22:0...
22  idgGrA8gt699JDUPKyiHJw  ...                                               None
23  mKTq1T_IAplDpHUcMzOXkw  ...  {'Monday': '0:0-0:0', 'Tuesday': '9:0-0:0', 'W...
24  eBEfgOPG7pvFhb2wcG9I7w  ...  {'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...
25  lu7vtrp_bE9PnxWfA8g4Pg  ...                                               None
26  1wWneWD_E1pBIyVpdHMaQg  ...  {'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'...
27  0pOlmHVeidsh63iAWdTAfg  ...  {'Monday': '0:0-0:0', 'Tuesday': '7:30-19:0', ...
28  07cgbTbANYhVDfzTMOkB9w  ...  {'Monday': '7:30-17:0', 'Tuesday': '9:0-17:0',...
29  007Dg4ESDVacWcC4Vq704Q  ...  {'Monday': '9:0-16:0', 'Tuesday': '9:0-16:0', ...
30  9sRGfSVEfLhN_km60YruTA  ...  {'Tuesday': '12:0-21:0', 'Wednesday': '12:0-21...
31  pcaQDBM6r0PWTXfYZK6RdA  ...  {'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...
32  DCsS3SgVFO56F6wRO_ewgA  ...  {'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...
33  vjTVxnsQEZ34XjYNS-XUpA  ...  {'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'...
34  03x6ZlJ7s39DHqfTJU1Ecg  ...                                               None
35  UqBTL1dq9QcOISikgeknow  ...  {'Monday': '10:0-20:0', 'Tuesday': '10:0-20:0'...
36  fnZrZlqW1Z8iWgTVDfv_MA  ...                                               None
37  kHCTmEekJJwYsJEy7xYM5w  ...  {'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...
38  rVBPQdeayMYht4Uv_FOLHg  ...                                               None
39  _4Oe9V-qTpU5iemM9bphlA  ...  {'Monday': '7:0-18:0', 'Tuesday': '7:0-18:0', ...
40  PslhllUwcQFavRHp-lyMOQ  ...  {'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'...
41  98hyK2QEUeI8v2y0AghfZA  ...  {'Monday': '11:0-20:0', 'Wednesday': '11:0-20:...
42  fhNf_sg-XzZ3e7HEVGuOZg  ...  {'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...
43  LoRef3ChgZKbxUio-sHgQg  ...                                               None
44  Ga2Bt7xfqoggTypWD5VpoQ  ...  {'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...
45  _xOeoXfPUQTNlUAhXl32ug  ...  {'Monday': '5:30-23:0', 'Tuesday': '5:30-23:0'...
46  xFc50drSPxXkcLvX5ygqrg  ...                                               None
47  oPfzMA_kA9NQwG-h-JkGzA  ...  {'Monday': '9:0-21:0', 'Tuesday': '9:0-21:0', ...
48  jutfk7U4GV899q6qfYp5dA  ...  {'Monday': '8:30-16:30', 'Tuesday': '8:30-16:3...
49  tLpkSwdtqqoXwU0JAGnApw  ...  {'Monday': '10:0-3:0', 'Tuesday': '10:0-3:0', ...

[50 rows x 14 columns]

In [ ]:
# Drop business_id, name, and hours column
businessData.drop(businessData.columns[[0,1,13]], axis=1, inplace=True) #drop column: business_id, name, hours
businessData.head()

                     address  ...                                         categories
0            10913 Bailey Rd  ...  Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...
1  8880 E Via Linda, Ste 107  ...  Health & Medical, Fitness & Instruction, Yoga,...
2      3554 Rue Notre-Dame O  ...                   Pets, Pet Services, Pet Groomers
3             1015 Sharp Cir  ...  Hardware Stores, Home Services, Building Suppl...
4         4827 E Downing Cir  ...  Home Services, Plumbing, Electricians, Handyma...

[5 rows x 11 columns]

In [ ]:
# Check dataframe info
# businessData.shape
# businessData.info()

In [ ]:
businessData = businessData.dropna(axis=0)
businessData = businessData.reset_index(drop=True)
businessData.shape  # Check number of rows and columns

(180347, 11)

In [ ]:
# Check if business contains keyword "Restaurants"
businessData["is_restaurant"] = businessData["categories"].str.contains("Restaurants") 
businessData["is_restaurant"] =businessData["is_restaurant"].replace({True: 1, False: 0})# Convert True/ False to 0/ 1

businessData[businessData.is_restaurant == 1] #keep only businesses that are restaurants

                                 address  ... is_restaurant
7                         404 E Green St  ...             1
18              4508 E Independence Blvd  ...             1
22      15480 Bayview Avenue, unit D0110  ...             1
23                       300 John Street  ...             1
28                    13071 Yonge Street  ...             1
...                                  ...  ...           ...
180338              829 E Washington Ave  ...             1
180340                   27045 Lorain Rd  ...             1
180342             6420 Rea Rd, Suite B1  ...             1
180344                  9750 Weston Road  ...             1
180346           7014-590 E Camelback Rd  ...             1

[62310 rows x 12 columns]

In [ ]:
restaurantData = businessData
restaurantData = restaurantData.reset_index(drop=True)

In [ ]:
attributes = ['Alcohol',
              'Ambience',
              'BikeParking',
              'BusinessParking',
              'GoodForKids',
              'HasTV',
              'OutdoorSeating',
              'RestaurantsAttire',
              'RestaurantsPriceRange2',
              'BusinessAcceptsCreditCards',
              'RestaurantsReservations',
              'RestaurantsGoodForGroups',
              'RestaurantsDelivery',
              'WiFi']

counter = 0
for i in range(0,len(restaurantData)):
    
    ats = [i.split(':', 1)[0] for i in restaurantData['attributes'][i]]
    contain = [i for i in ats if i in attributes]
    
    if len(contain) == len (attributes):
            counter += 1

print("Number of restaurants containing all attributes:  ", counter)
print("Total Number of restaurants:  ", len(restaurantData))

Number of restaurants containing all attributes:   20844
Total Number of restaurants:   180347

In [ ]:
# Split attributes
restaurantData2 = pd.DataFrame()

counter = 0
for i in range(0,len(restaurantData)):
    
    ats = [i.split(':', 1)[0] for i in restaurantData['attributes'][i]]
    contain = [i for i in ats if i in attributes]
    
    if len(contain) == len (attributes):
            counter += 1
            restaurantData2 = restaurantData2.append(restaurantData.loc[i])

print("Number of restaurants containing all attributes:  ", counter)
print("Total Number of restaurants:  ", len(restaurantData2))
restaurantData2.head()

Number of restaurants containing all attributes:   20844
Total Number of restaurants:   20844

                 address  ... state
34  9595 W Tropicana Ave  ...    NV
52                        ...    OH
59      2130 E Arbors Dr  ...    NC
60   311 Unity Center Rd  ...    PA
84  2706 E University Dr  ...    AZ

[5 rows x 12 columns]

In [ ]:
# Check dataframe
restaurantData2 = restaurantData2.reset_index(drop=True)  
# pd.set_option('display.max_columns', None) # To display all columns
# restaurantData2.dtypes

In [ ]:
attributes = ['RestaurantsReservations',
'RestaurantsDelivery',
'RestaurantsTakeOut',
'BusinessParking',
'GoodForKids',
'RestaurantsPriceRange2',
'BusinessAcceptsCreditCards',
'OutdoorSeating',
'RestaurantsGoodForGroups',
'GoodForMeal',
'HappyHour',
'RestaurantsCounterService',
'BYOB',
'Alcohol',
'WiFi']

pullAttributes = pd.DataFrame(0, index=np.arange(len(restaurantData2)), columns=attributes)

In [ ]:
restaurantData2.head()

                address  ... state
0  9595 W Tropicana Ave  ...    NV
1                        ...    OH
2      2130 E Arbors Dr  ...    NC
3   311 Unity Center Rd  ...    PA
4  2706 E University Dr  ...    AZ

[5 rows x 12 columns]

In [ ]:
#=======================================Convert Attributes to 1/0 Features ==================================================#

restaurantData3= restaurantData2 # make a copy of ResData 3

# Get Reservations
df_attribute = pd.DataFrame([i if i != None else {'RestaurantsReservations':np.NAN} for i in restaurantData3['attributes']])
restaurantData3['reservations'] = df_attribute['RestaurantsReservations']
restaurantData3['reservations'] = restaurantData3['reservations'].astype(str).map({'True': 1, 'False': 0})


# Get Delivery
df_attribute = pd.DataFrame([i if i != None else {'RestaurantsDelivery':np.NAN} for i in restaurantData3['attributes']])
restaurantData3['delivery'] = df_attribute['RestaurantsDelivery']
restaurantData3['delivery'] = restaurantData3['delivery'].astype(str).map({'True': 1, 'False': 0})


# Get Takeout
df_attribute = pd.DataFrame([i if i != None else {'RestaurantsTakeOut':np.NAN} for i in restaurantData3['attributes']])
restaurantData3['takeout'] = df_attribute['RestaurantsTakeOut']
restaurantData3['takeout'] = restaurantData3['takeout'].astype(str).map({'True': 1, 'False': 0})



# Get Price
df_attribute = pd.DataFrame([i if i != None else {'RestaurantsPriceRange2':np.NAN} for i in restaurantData3['attributes']])
restaurantData3['pricerange'] = df_attribute['RestaurantsPriceRange2'].astype(int)



# Get Accept Credit Cards
df_attribute = pd.DataFrame([i if i != None else {'BusinessAcceptsCreditCards':np.NAN} for i in restaurantData3['attributes']])
restaurantData3['acceptcreditcard'] = df_attribute['BusinessAcceptsCreditCards']
restaurantData3['acceptcreditcard'] = restaurantData3['acceptcreditcard'].astype(str).map({'True': 1, 'False': 0})


# Get Outdoor Seating
df_attribute = pd.DataFrame([i if i != None else {'OutdoorSeating':np.NAN} for i in restaurantData3['attributes']])
restaurantData3['outdoorseating'] = df_attribute['OutdoorSeating']
restaurantData3['outdoorseating'] = restaurantData3['outdoorseating'].astype(str).map({'True': 1, 'False': 0})


# Get Good For Groups
df_attribute = pd.DataFrame([i if i != None else {'RestaurantsGoodForGroups':np.NAN} for i in restaurantData3['attributes']])
restaurantData3['goodForGroups'] = df_attribute['RestaurantsGoodForGroups']
restaurantData3['goodForGroups'] = restaurantData3['goodForGroups'].astype(str).map({'True': 1, 'False': 0})


# Get Good For Kids
df_attribute = pd.DataFrame([i if i != None else {'GoodForKids':np.NAN} for i in restaurantData3['attributes']])
restaurantData3['kidsfriendly'] = df_attribute['GoodForKids']
restaurantData3['kidsfriendly'] = restaurantData3['kidsfriendly'].astype(str).map({'True': 1, 'False': 0})
#restaurantData3['kidsfriendly'] = restaurantData3['kidsfriendly'].astype(float).round(2)



# Get happyhour
df_attribute = pd.DataFrame([i if i != None else {'HappyHour':np.NAN} for i in restaurantData3['attributes']])
restaurantData3['happyhour'] = df_attribute['HappyHour']
restaurantData3['happyhour'] = restaurantData3['happyhour'].astype(str).map({'True': 1, 'False': 0})

# BYOB
df_attribute = pd.DataFrame([i if i != None else {'BYOBCorkage':np.NAN} for i in restaurantData3['attributes']])
restaurantData3['byobfee'] = df_attribute['BYOBCorkage']
restaurantData3['byobfee']=restaurantData3['byobfee'].str.contains("no")
restaurantData3['byobfee'] = restaurantData3['byobfee'].astype(str).map({'True': 1, 'False': 0})


# Get Table Service
df_attribute = pd.DataFrame([i if i != None else {'RestaurantsTableService':np.NAN} for i in restaurantData3['attributes']])
restaurantData3['tableservice'] = df_attribute['RestaurantsTableService']
restaurantData3['tableservice'] = restaurantData3['tableservice'].astype(str).map({'True': 1, 'False': 0})


# Get Alcohol
df_attribute = pd.DataFrame([i if i != None else {'Alcohol':np.NAN} for i in restaurantData3['attributes']])
restaurantData3['alcohol'] = df_attribute['Alcohol']
restaurantData3['alcohol'] = restaurantData3['alcohol'].str.contains("none")
restaurantData3['alcohol'] = restaurantData3['alcohol'].astype(str).map({'True': 1, 'False': 0})


# WiFi
df_attribute = pd.DataFrame([i if i != None else {'WiFi':np.NAN} for i in restaurantData3['attributes']])
restaurantData3['wifi'] = df_attribute['WiFi']
restaurantData3['wifi'] = restaurantData3['wifi'].str.contains("free")
restaurantData3['wifi'] = restaurantData3['wifi'].astype(str).map({'True': 1, 'False': 0})

pd.set_option('display.max_columns', None)

restaurantData3.head(50)

,address,attributes,categories,city,is_open,is_restaurant,latitude,longitude,postal_code,review_count,stars,state,reservations,delivery,takeout,pricerange,acceptcreditcard,outdoorseating,goodForGroups,kidsfriendly,happyhour,byobfee,tableservice,alcohol,wifi
0,9595 W Tropicana Ave,"{'Alcohol': 'u'none'', 'WiFi': 'u'no'', 'GoodF...","Mexican, Restaurants, Fast Food",Las Vegas,0.0,1.0,36.099738,-115.301568,89147,15.0,2.5,NV,0.0,0.0,1.0,1,1.0,0.0,1,1.0,NaN,NaN,NaN,1,0
1,,"{'Alcohol': 'u'none'', 'GoodForKids': 'True', ...","Shopping Centers, Food, Coffee & Tea, Cafes, M...",Cleveland,1.0,1.0,41.489343,-81.711029,44113,4.0,3.0,OH,0.0,0.0,0.0,4,0.0,1.0,0,1.0,NaN,NaN,0.0,1,0
2,2130 E Arbors Dr,"{'RestaurantsReservations': 'False', 'Restaura...","Fast Food, American (New), Restaurants, Burgers",Charlotte,0.0,1.0,35.338070,-80.757397,28262,15.0,4.0,NC,0.0,0.0,1.0,2,1.0,1.0,1,1.0,NaN,NaN,NaN,1,0
3,311 Unity Center Rd,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Restaurants, Pizza",Plum,1.0,1.0,40.489996,-79.779288,15239,31.0,4.0,PA,1.0,1.0,1.0,1,1.0,0.0,1,1.0,NaN,NaN,NaN,1,0
4,2706 E University Dr,"{'Caters': 'False', 'OutdoorSeating': 'False',...","Food, Ethnic Food, Specialty Food, Restaurants...",Mesa,1.0,1.0,33.423705,-111.772890,85213,130.0,2.5,AZ,0.0,1.0,1.0,1,1.0,0.0,1,1.0,NaN,NaN,NaN,1,0
5,8033 N Durango Dr,"{'OutdoorSeating': 'False', 'Alcohol': 'u'none...","Fast Food, Restaurants",Las Vegas,1.0,1.0,36.307495,-115.279059,89131,37.0,2.5,NV,0.0,0.0,1.0,1,1.0,0.0,1,1.0,NaN,NaN,NaN,1,0
6,1017 E Apache Blvd,"{'NoiseLevel': 'u'average'', 'BusinessAcceptsC...","Restaurants, Fish & Chips, Seafood",Tempe,1.0,1.0,33.414507,-111.923721,85281,117.0,2.0,AZ,0.0,0.0,1.0,1,0.0,1.0,0,1.0,NaN,NaN,NaN,1,0
7,4005 N Scottsdale Rd,"{'RestaurantsAttire': ''casual'', 'Alcohol': '...","Ice Cream & Frozen Yogurt, Sandwiches, Food, A...",Scottsdale,1.0,1.0,33.493775,-111.925933,85251,720.0,3.5,AZ,0.0,1.0,1.0,1,1.0,0.0,1,1.0,NaN,NaN,NaN,1,0
8,1515 W Pleasant Valley Rd,"{'OutdoorSeating': 'False', 'RestaurantsReserv...","Coffee & Tea, Restaurants, Food, Breakfast & B...",Parma,1.0,1.0,41.361185,-81.688755,44134,60.0,4.0,OH,0.0,0.0,1.0,1,1.0,0.0,1,1.0,0.0,NaN,1.0,0,1
9,20542 Lorain Rd,"{'NoiseLevel': 'u'quiet'', 'WiFi': ''no'', 'Bu...","Pizza, Italian, Restaurants",Fairview Park,1.0,1.0,41.448341,-81.847644,44126,21.0,4.5,OH,0.0,1.0,1.0,1,1.0,0.0,1,1.0,NaN,NaN,1.0,1,0
10,"7960 S Rainbow Blvd, Ste 8000A","{'BusinessParking': '{'garage': False, 'street...","Filipino, Restaurants, Breakfast & Brunch, Foo...",Las Vegas,0.0,1.0,36.043663,-115.241881,89139,82.0,4.0,NV,0.0,1.0,1.0,2,1.0,0.0,1,1.0,0.0,NaN,0.0,1,0
11,S Tryon,"{'RestaurantsTakeOut': 'True', 'RestaurantsDel...","Hot Dogs, Food, Street Vendors, Restaurants",Charlotte,1.0,1.0,35.226911,-80.843823,28202,172.0,5.0,NC,0.0,0.0,1.0,1,1.0,0.0,1,1.0,0.0,NaN,NaN,1,0
12,"9120 E Talking Stick Way, Ste E5","{'RestaurantsReservations': 'False', 'Alcohol'...","Restaurants, Sandwiches, Fast Food",Scottsdale,1.0,1.0,33.540451,-111.885229,85250,35.0,4.5,AZ,0.0,0.0,1.0,1,1.0,0.0,1,1.0,0.0,NaN,0.0,1,1
13,20825 N Pima Rd,"{'RestaurantsTakeOut': 'True', 'GoodForKids': ...","Mexican, Restaurants, Food, Salad, Desserts",Scottsdale,1.0,1.0,33.674880,-111.888635,85255,247.0,3.5,AZ,1.0,1.0,1.0,2,1.0,1.0,1,1.0,1.0,NaN,1.0,0,1
14,"6125 W Tropicana Ave, Ste F","{'RestaurantsAttire': 'u'casual'', 'Restaurant...","Pizza, Salad, Burgers, Restaurants",Las Vegas,1.0,1.0,36.099361,-115.226636,89103,141.0,4.0,NV,0.0,1.0,1.0,1,1.0,0.0,1,1.0,NaN,NaN,NaN,1,0
15,4197 W 150th St,"{'NoiseLevel': 'u'average'', 'GoodForKids': 'T...","Diners, American (Traditional), Restaurants",Cleveland,0.0,1.0,41.440266,-81.800295,44135,32.0,3.5,OH,0.0,0.0,1.0,1,1.0,0.0,1,1.0,NaN,NaN,NaN,1,0
16,"1046 Regent Pkwy, Ste 107","{'NoiseLevel': 'u'average'', 'RestaurantsReser...","Restaurants, Sushi Bars, Chinese",Fort Mill,1.0,1.0,35.075476,-80.933904,29715,267.0,4.0,SC,1.0,0.0,1.0,2,1.0,1.0,1,1.0,0.0,NaN,1.0,0,1
17,3759 E Desert Inn Rd,"{'WiFi': 'u'free'', 'RestaurantsPriceRange2': ...","Restaurants, Italian",Las Vegas,1.0,1.0,36.129178,-115.092483,89121,222.0,5.0,NV,0.0,0.0,1.0,2,1.0,0.0,1,1.0,0.0,NaN,1.0,1,1
18,1000 Banksville Rd,"{'WiFi': ''no'', 'RestaurantsPriceRange2': '2'...","Caterers, Event Planning & Services, Restauran...",Pittsburgh,1.0,1.0,40.419899,-80.030052,15216,91.0,4.0,PA,0.0,0.0,1.0,2,1.0,1.0,1,1.0,NaN,NaN,NaN,1,0
19,"5115 Spring Mountain Rd, Ste 203","{'RestaurantsPriceRange2': '2', 'BikeParking':...","Restaurants, Specialty Food, Japanese, Sushi B...",Las Vegas,1.0,1.0,36.125569,-115.210911,89146,1142.0,4.5,NV,1.0,1.0,1.0,2,1.0,0.0,1,1.0,NaN,NaN,1.0,1,1
20,1546 E Roosevelt,"{'BikeParking': 'True', 'RestaurantsDelivery':...","Restaurants, Fast Food, Chicken Wings, Chicken...",Phoenix,1.0,1.0,33.458972,-112.047940,85006,5.0,3.5,AZ,0.0,0.0,1.0,1,1.0,0.0,1,1.0,NaN,NaN,NaN,1,0
21,1 E Main St,"{'RestaurantsDelivery': 'True', 'WiFi': 'u'fre...","Restaurants, Diners, Sandwiches, Breakfast & B...",Champaign,0.0,1.0,40.118133,-88.242900,61820,47.0,3.0,IL,0.0,1.0,1.0,1,1.0,0.0,1,1.0,NaN,0.0,NaN,1,1
22,"Green Valley Ranch Resort, 2300 Paseo Verde Pkwy","{'BusinessAcceptsCreditCards': 'True', 'Ambien...","Juice Bars & Smoothies, Restaurants, Sandwiche...",Henderson,0.0,1.0,36.021723,-115.089805,89052,11.0,4.0,NV,0.0,0.0,1.0,1,1.0,0.0,1,1.0,NaN,NaN,NaN,1,0
23,9311 Jw Clay Blvd,"{'NoiseLevel': 'u'quiet'', 'GoodForMeal': '{'d...","Restaurants, Mediterranean, Halal, Cocktail Ba...",Charlotte,0.0,1.0,35.311397,-80.746334,28262,124.0,3.5,NC,1.0,1.0,1.0,2,1.0,1.0,1,1.0,1.0,NaN,1.0,1,1
24,1411 Elizabeth Ave,"{'BusinessParking': '{'garage': False, 'street...","Malaysian, Vegetarian, Restaurants, Sushi Bars...",Charlotte,0.0,1.0,35.215478,-80.828521,28204,160.0,4.0,NC,1.0,1.0,1.0,2,1.0,0.0,1,1.0,NaN,1.0,NaN,0,1
25,2410 W. Liberty,"{'RestaurantsPriceRange2': '1', 'BikeParking':...","Fast Food, Restaurants, Burgers",Pittsburgh,1.0,1.0,40.400235,-80.024127,15226,22.0,2.0,PA,0.0,0.0,1.0,1,1.0,0.0,1,1.0,NaN,NaN,NaN,1,1
26,1706 E Warner Rd,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...","Mexican, Restaurants",Tempe,1.0,1.0,33.334835,-111.912521,85284,119.0,3.0,AZ,1.0,1.0,1.0,2,1.0,1.0,1,1.0,1.0,NaN,1.0,0,1
27,"7729 S Rainbow Blvd, Ste 9B","{'OutdoorSeating': 'True', 'BusinessParking': ...","Sandwiches, Shaved Ice, Coffee & Tea, Desserts...",Las Vegas,1.0,1.0,36.047942,-115.244167,89139,284.0,4.5,NV,0.0,1.0,1.0,1,1.0,1.0,1,1.0,NaN,NaN,0.0,1,1
28,1260 S Val Vis,"{'Alcohol': ''none'', 'Ambience': '{'touristy'...","Food, Burgers, Ice Cream & Frozen Yogurt, Rest...",Mesa,1.0,1.0,33.392305,-111.754438,85204,50.0,1.5,AZ,0.0,0.0,1.0,1,1.0,1.0,1,1.0,1.0,NaN,0.0,1,0
29,5750 Ellsworth Ave,"{'GoodForKids': 'False', 'BusinessAcceptsCredi...","Pizza, Barbeque, Chicken Wings, Nightlife, Res...",Pittsburgh,0.0,1.0,40.455696,-79.930883,15232,85.0,3.5,PA,1.0,1.0,1.0,2,1.0,1.0,1,0.0,1.0,NaN,NaN,0,1
30,419 State St,"{'RestaurantsGoodForGroups': 'True', 'Restaura...","Spanish, Tapas Bars, Mediterranean, Restaurant...",Madison,0.0,1.0,43.074724,-89.392598,53703,22.0,3.5,WI,0.0,1.0,1.0,2,1.0,1.0,1,0.0,NaN,NaN,1.0,0,1
31,1500-B Central Ave,"{'Caters': 'False', 'RestaurantsDelivery': 'Fa...","Restaurants, Tapas Bars, Gastropubs, Cocktail ...",Charlotte,1.0,1.0,35.220275,-80.813323,28205,1077.0,4.0,NC,0.0,0.0,1.0,2,1.0,1.0,1,0.0,NaN,NaN,NaN,0,0
32,"24 W Camelback Rd, Ste DE","{'RestaurantsTableService': 'True', 'Restauran...","Restaurants, American (Traditional), Bars, Coc...",Phoenix,1.0,1.0,33.509785,-112.075741,85013,123.0,4.0,AZ,1.0,0.0,1.0,2,1.0,0.0,1,0.0,1.0,NaN,1.0,0,1
33,1620 E 4th St,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Restaurants, Chinese",Charlotte,1.0,1.0,35.212517,-80.827788,28204,98.0,3.5,NC,0.0,1.0,1.0,2,1.0,0.0,1,1.0,NaN,NaN,NaN,0,0
34,1902 N Higley Rd,"{'OutdoorSeating': 'False', 'Ambience': '{'rom...","Pizza, Restaurants, Sandwiches, Burgers",Mesa,1.0,1.0,33.450123,-111.719349,85205,203.0,4.0,AZ,1.0,0.0,1.0,2,1.0,0.0,1,1.0,1.0,NaN,NaN,0,1
35,6895 Ridge Rd,"{'RestaurantsTableService': 'False', 'Restaura...","Chinese, Fast Food, Restaurants",Parma,1.0,1.0,41.378045,-81.734138,44129,57.0,2.5,OH,0.0,0.0,1.0,1,1.0,1.0,1,1.0,NaN,NaN,0.0,1,1
36,7901 Forest Pine Dr,"{'RestaurantsReservations': 'True', 'NoiseLeve...","Salad, Breakfast & Brunch, Caterers, American ...",Charlotte,1.0,1.0,35.136278,-80.905435,28273,228.0,4.0,NC,1.0,0.0,1.0,2,1.0,0.0,1,1.0,NaN,NaN,NaN,0,1
37,4601 E Thomas Rd,"{'GoodForKids': 'True', 'BikeParking': 'True',...","Restaurants, Mexican",Phoenix,1.0,1.0,33.479910,-111.982293,85018,139.0,3.0,AZ,1.0,1.0,1.0,2,1.0,0.0,1,1.0,1.0,NaN,NaN,0,0
38,1511 W Springfield Ave,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...","Hot Dogs, Restaurants, Barbeque",Champaign,1.0,1.0,40.112515,-88.271575,61821,45.0,3.5,IL,0.0,1.0,1.0,1,1.0,1.0,1,1.0,0.0,NaN,NaN,1,0
39,717 Hilldale Way,"{'BikeParking': 'True', 'HasTV': 'False', 'Res...","Gluten-Free, Specialty Food, Fruits & Veggies,...",Madison,1.0,1.0,43.072930,-89.453214,53705,65.0,4.5,WI,0.0,0.0,1.0,2,1.0,1.0,0,1.0,0.0,NaN,0.0,1,1
40,9640 S Tryon St,"{'GoodForKids': 'True', 'RestaurantsTakeOut': ...","Chicken Wings, Pizza, Food Delivery Services, ...",Charlotte,1.0,1.0,35.128279,-80.943016,28273,91.0,3.5,NC,0.0,1.0,1.0,2,1.0,0.0,1,1.0,NaN,NaN,1.0,0,0
41,971 N Page St,"{'Alcohol': 'u'beer_and_wine'', 'RestaurantsAt...","Restaurants, Pizza",Stoughton,1.0,1.0,42.926526,-89.222592,53589,60.0,4.5,WI,0.0,1.0,1.0,2,1.0,0.0,1,1.0,NaN,NaN,NaN,0,1
42,3400 Paradise Rd,"{'RestaurantsAttire': ''casual'', 'Restaurants...","American (New), Restaurants",Las Vegas,1.0,1.0,36.127224,-115.153991,89169,58.0,3.0,NV,1.0,0.0,1.0,2,1.0,1.0,1,0.0,1.0,NaN,1.0,0,1
43,777 Cahoon Rd,"{'GoodForKids': 'False', 'RestaurantsReservati...","Mediterranean, Salad, Seafood, American (New),...",Westlake,1.0,1.0,41.475638,-81.924795,44145,143.0,3.5,OH,1.0,0.0,1.0,3,1.0,0.0,1,0.0,NaN,NaN,NaN,0,0
44,1442 E Lake Mead Pkwy,"{'NoiseLevel': ''quiet'', 'RestaurantsReservat...","Nightlife, Pubs, Bars, American (New), Sports ...",Henderson,1.0,1.0,36.073273,-114.953265,89015,76.0,3.0,NV,1.0,0.0,1.0,2,1.0,1.0,1,0.0,1.0,NaN,1.0,0,0
45,"8432 Old Statesville, Ste 300","{'Alcohol': 'u'none'', 'RestaurantsDelivery': ...","Delis, Restaurants, Pizza",Charlotte,0.0,1.0,35.337941,-80.824018,28269,12.0,3.0,NC,0.0,1.0,1.0,2,1.0,0.0,0,1.0,NaN,NaN,NaN,1,1
46,10224 Perimeter Pkwy,"{'RestaurantsTakeOut': 'True', 'Ambience': '{'...","Breakfast & Brunch, Restaurants, Cajun/Creole,...",Charlotte,0.0,1.0,35.348155,-80.851911,28216,88.0,2.5,NC,1.0,0.0,1.0,2,1.0,1.0,1,1.0,NaN,NaN,NaN,0,0
47,1920 Sardis Rd N,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Sports Bars, Nightlife, Beer, Wine & Spirits, ...",Charlotte,1.0,1.0,35.141590,-80.733351,28270,115.0,3.0,NC,0.0,0.0,1.0,1,1.0,1.0,1,1.0,1.0,NaN,1.0,0,1
48,9935 Rea Rd,"{'BusinessAcceptsCreditCards': 'True', 'Alcoho...","Restaurants, Asian Fusion, Sushi Bars",Charlotte,1.0,1.0,35.033786,-80.804640,28277,140.0,3.0,NC,1.0,0.0,1.0,2,1.0,1.0,1,1.0,NaN,NaN,NaN,0,0
49,718 E Union Hills Dr,"{'Alcohol': ''full_bar'', 'RestaurantsTableSer...","Italian, Restaurants",Phoenix,1.0,1.0,33.656102,-112.063633,85024,297.0,4.0,AZ,1.0,1.0,1.0,2,1.0,0.0,1,1.0,1.0,NaN,1.0,0,0

In [ ]:
# Get Parking
df_attribute = pd.DataFrame([i if i != None else {'BusinessParking':np.NAN} for i in restaurantData3['attributes']])
restaurantData3['parking'] = df_attribute['BusinessParking']

parking = restaurantData3['parking']

In [ ]:
# Convert parking string with dictionary into dictionary
def json_to_df(obs):
    obs = obs.replace("\'", "\"")
    obs_dict = eval(obs)

    return(pd.DataFrame([obs_dict]))

# Create empty dataframe with columns
parking_df = pd.DataFrame(columns=['garage', 'street', 'validated', 'lot', 'valet'])

# Iterate over pandas series
#...consider using apply
for item in parking.iteritems():
    temp_df = json_to_df(item[1])
    parking_df = parking_df.append(temp_df)
    
parking_df

      0 garage    lot street  valet validated
0   NaN  False   True  False  False     False
0   NaN  False  False  False  False     False
0   NaN  False   True  False  False     False
0   NaN  False  False  False  False     False
0   NaN  False  False  False  False     False
..  ...    ...    ...    ...    ...       ...
0   NaN  False   None  False  False     False
0   NaN  False   True  False  False     False
0   NaN  False  False   True  False     False
0   NaN  False   True  False  False     False
0   NaN  False   True  False  False     False

[20844 rows x 6 columns]

In [ ]:
cleaned_parking_df = parking_df.drop(0, axis = 1)
cleaned_parking_df.reset_index(drop = True, inplace = True)
cleaned_parking_df

      garage    lot street  valet validated
0      False   True  False  False     False
1      False  False  False  False     False
2      False   True  False  False     False
3      False  False  False  False     False
4      False  False  False  False     False
...      ...    ...    ...    ...       ...
20839  False   None  False  False     False
20840  False   True  False  False     False
20841  False  False   True  False     False
20842  False   True  False  False     False
20843  False   True  False  False     False

[20844 rows x 5 columns]

In [ ]:
parking_columns=['parking_garage', 'parking_lot', 'parking_street', 'parking_valet', 'parking_validated']
restaurantData3[parking_columns] = cleaned_parking_df
#restaurantData3.head(20)

In [ ]:
restaurantData3 = restaurantData3[['parking','parking_garage','parking_lot','parking_street','parking_valet','parking_validated','reservations','delivery','takeout','kidsfriendly','acceptcreditcard','outdoorseating','goodForGroups','happyhour','byobfee','tableservice','alcohol','stars','pricerange', 'wifi','city','state','postal_code','latitude','longitude','is_open','review_count']]
restaurantData3.head(300)

,parking,parking_garage,parking_lot,parking_street,parking_valet,parking_validated,reservations,delivery,takeout,kidsfriendly,acceptcreditcard,outdoorseating,goodForGroups,happyhour,byobfee,tableservice,alcohol,stars,pricerange,wifi,city,state,postal_code,latitude,longitude,is_open,review_count
0,"{'garage': False, 'street': False, 'validated'...",False,True,False,False,False,0.0,0.0,1.0,1.0,1.0,0.0,1,NaN,NaN,NaN,1,2.5,1,0,Las Vegas,NV,89147,36.099738,-115.301568,0.0,15.0
1,"{'garage': False, 'street': False, 'validated'...",False,False,False,False,False,0.0,0.0,0.0,1.0,0.0,1.0,0,NaN,NaN,0.0,1,3.0,4,0,Cleveland,OH,44113,41.489343,-81.711029,1.0,4.0
2,"{'garage': False, 'street': False, 'validated'...",False,True,False,False,False,0.0,0.0,1.0,1.0,1.0,1.0,1,NaN,NaN,NaN,1,4.0,2,0,Charlotte,NC,28262,35.338070,-80.757397,0.0,15.0
3,"{'garage': False, 'street': False, 'validated'...",False,False,False,False,False,1.0,1.0,1.0,1.0,1.0,0.0,1,NaN,NaN,NaN,1,4.0,1,0,Plum,PA,15239,40.489996,-79.779288,1.0,31.0
4,"{'garage': False, 'street': False, 'validated'...",False,False,False,False,False,0.0,1.0,1.0,1.0,1.0,0.0,1,NaN,NaN,NaN,1,2.5,1,0,Mesa,AZ,85213,33.423705,-111.772890,1.0,130.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,"{'garage': False, 'street': True, 'validated':...",False,False,True,False,False,0.0,0.0,1.0,1.0,1.0,0.0,1,NaN,NaN,NaN,1,4.0,1,0,Cleveland Heights,OH,44118,41.496897,-81.564973,0.0,117.0
296,"{'garage': False, 'street': False, 'validated'...",False,True,False,False,False,0.0,1.0,1.0,1.0,1.0,1.0,1,0.0,NaN,NaN,0,4.5,2,1,Henderson,NV,89014,36.055517,-115.041652,1.0,1119.0
297,"{'garage': False, 'street': False, 'validated'...",False,True,False,False,False,1.0,1.0,1.0,1.0,1.0,0.0,1,NaN,NaN,1.0,0,3.5,2,0,Huntersville,NC,28078,35.351410,-80.888200,1.0,165.0
298,"{'garage': False, 'street': False, 'validated'...",False,True,False,False,False,0.0,1.0,1.0,1.0,1.0,1.0,1,NaN,1.0,NaN,0,3.5,1,1,Scottsdale,AZ,85251,33.488740,-111.928340,0.0,119.0
299,"{'garage': False, 'street': False, 'validated'...",False,True,False,False,False,1.0,1.0,1.0,1.0,1.0,1.0,1,0.0,NaN,1.0,1,4.5,2,1,Gilbert,AZ,85234,33.378421,-111.748954,1.0,204.0

In [ ]:
restaurantData3['parking_garage'] = restaurantData3['parking_garage'].astype(float).round(2) # Convert string True/False to float
restaurantData3['parking_lot'] = restaurantData3['parking_lot'].astype(float).round(2) # Convert string True/False to float
restaurantData3['parking_street'] = restaurantData3['parking_street'].astype(float).round(2) # Convert string True/False to float
restaurantData3['parking_valet'] = restaurantData3['parking_valet'].astype(float).round(2) # Convert string True/False to float
restaurantData3['parking_validated'] = restaurantData3['parking_validated'].astype(float).round(2) # Convert string True/False to float

# restaurantData3.dtypes

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
# making dataframe using get_dummies() 
# dummies = restaurantData3["stars"].str.get_dummies(" ") 

stars_df = pd.get_dummies(restaurantData3["stars"])

stars_columns=['star_1', 'star_1.5', 'star_2.0', 'star_2.5', 'star_3.0','star_3.5','star_4.0','star_4.5','star_5.0']
restaurantData3[stars_columns] = stars_df
pd.set_option('display.max_columns', None) # To display all columns
restaurantData3.head(25)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,parking,parking_garage,parking_lot,parking_street,parking_valet,parking_validated,reservations,delivery,takeout,kidsfriendly,acceptcreditcard,outdoorseating,goodForGroups,happyhour,byobfee,tableservice,alcohol,stars,pricerange,wifi,city,state,postal_code,latitude,longitude,is_open,review_count,star_1,star_1.5,star_2.0,star_2.5,star_3.0,star_3.5,star_4.0,star_4.5,star_5.0
0,"{'garage': False, 'street': False, 'validated'...",0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1,NaN,NaN,NaN,1,2.5,1,0,Las Vegas,NV,89147,36.099738,-115.301568,0.0,15.0,0,0,0,1,0,0,0,0,0
1,"{'garage': False, 'street': False, 'validated'...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0,NaN,NaN,0.0,1,3.0,4,0,Cleveland,OH,44113,41.489343,-81.711029,1.0,4.0,0,0,0,0,1,0,0,0,0
2,"{'garage': False, 'street': False, 'validated'...",0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1,NaN,NaN,NaN,1,4.0,2,0,Charlotte,NC,28262,35.338070,-80.757397,0.0,15.0,0,0,0,0,0,0,1,0,0
3,"{'garage': False, 'street': False, 'validated'...",0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1,NaN,NaN,NaN,1,4.0,1,0,Plum,PA,15239,40.489996,-79.779288,1.0,31.0,0,0,0,0,0,0,1,0,0
4,"{'garage': False, 'street': False, 'validated'...",0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1,NaN,NaN,NaN,1,2.5,1,0,Mesa,AZ,85213,33.423705,-111.772890,1.0,130.0,0,0,0,1,0,0,0,0,0
5,"{'garage': False, 'street': False, 'validated'...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1,NaN,NaN,NaN,1,2.5,1,0,Las Vegas,NV,89131,36.307495,-115.279059,1.0,37.0,0,0,0,1,0,0,0,0,0
6,"{'garage': False, 'street': False, 'validated'...",0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0,NaN,NaN,NaN,1,2.0,1,0,Tempe,AZ,85281,33.414507,-111.923721,1.0,117.0,0,0,1,0,0,0,0,0,0
7,"{'garage': False, 'street': True, 'validated':...",0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1,NaN,NaN,NaN,1,3.5,1,0,Scottsdale,AZ,85251,33.493775,-111.925933,1.0,720.0,0,0,0,0,0,1,0,0,0
8,"{'garage': False, 'street': False, 'validated'...",0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1,0.0,NaN,1.0,0,4.0,1,1,Parma,OH,44134,41.361185,-81.688755,1.0,60.0,0,0,0,0,0,0,1,0,0
9,"{'garage': False, 'street': False, 'validated'...",0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1,NaN,NaN,1.0,1,4.5,1,0,Fairview Park,OH,44126,41.448341,-81.847644,1.0,21.0,0,0,0,0,0,0,0,1,0
10,"{'garage': False, 'street': False, 'validated'...",0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1,0.0,NaN,0.0,1,4.0,2,0,Las Vegas,NV,89139,36.043663,-115.241881,0.0,82.0,0,0,0,0,0,0,1,0,0
11,"{'garage': False, 'street': True, 'validated':...",0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1,0.0,NaN,NaN,1,5.0,1,0,Charlotte,NC,28202,35.226911,-80.843823,1.0,172.0,0,0,0,0,0,0,0,0,1
12,"{'garage': False, 'street': False, 'validated'...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1,0.0,NaN,0.0,1,4.5,1,1,Scottsdale,AZ,85250,33.540451,-111.885229,1.0,35.0,0,0,0,0,0,0,0,1,0
13,"{'garage': False, 'street': True, 'validated':...",0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1.0,NaN,1.0,0,3.5,2,1,Scottsdale,AZ,85255,33.674880,-111.888635,1.0,247.0,0,0,0,0,0,1,0,0,0
14,"{'garage': False, 'street': False, 'validated'...",0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1,NaN,NaN,NaN,1,4.0,1,0,Las Vegas,NV,89103,36.099361,-115.226636,1.0,141.0,0,0,0,0,0,0,1,0,0
15,"{'garage': False, 'street': False, 'validated'...",0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1,NaN,NaN,NaN,1,3.5,1,0,Cleveland,OH,44135,41.440266,-81.800295,0.0,32.0,0,0,0,0,0,1,0,0,0
16,"{'garage': False, 'street': False, 'validated'...",0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1,0.0,NaN,1.0,0,4.0,2,1,Fort Mill,SC,29715,35.075476,-80.933904,1.0,267.0,0,0,0,0,0,0,1,0,0
17,"{'garage': False, 'street': False, 'validated'...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1,0.0,NaN,1.0,1,5.0,2,1,Las Vegas,NV,89121,36.129178,-115.092483,1.0,222.0,0,0,0,0,0,0,0,0,1
18,"{'garage': False, 'street': False, 'validated'...",0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1,NaN,NaN,NaN,1,4.0,2,0,Pittsburgh,PA,15216,40.419899,-80.030052,1.0,91.0,0,0,0,0,0,0,1,0,0
19,"{'garage': True, 'street': False, 'validated':...",1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1,NaN,NaN,1.0,1,4.5,2,1,Las Vegas,NV,89146,36.125569,-115.210911,1.0,1142.0,0,0,0,0,0,0,0,1,0
20,None,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,1.0,1.0,0.0,1,NaN,NaN,NaN,1,3.5,1,0,Phoenix,AZ,85006,33.458972,-112.047940,1.0,5.0,0,0,0,0,0,1,0,0,0
21,"{'garage': False, 'street': True, 'validated':...",0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1,NaN,0.0,NaN,1,3.0,1,1,Champaign,IL,61820,40.118133,-88.242900,0.0,47.0,0,0,0,0,1,0,0,0,0
22,"{'garage': False, 'street': False, 'validated'...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1,NaN,NaN,NaN,1,4.0,1,0,Henderson,NV,89052,36.021723,-115.089805,0.0,11.0,0,0,0,0,0,0,1,0,0
23,"{'garage': False, 'street': False, 'validated'...",0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1.0,NaN,1.0,1,3.5,2,1,Charlotte,NC,28262,35.311397,-80.746334,0.0,124.0,0,0,0,0,0,1,0,0,0
24,"{'garage': False, 'street': False, 'validated'...",0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1,NaN,1.0,NaN,0,4.0,2,1,Charlotte,NC,28204,35.215478,-80.828521,0.0,160.0,0,0,0,0,0,0,1,0,0

In [ ]:
category = ['review_37', 'review_82', 'review_184', 'review_max'] # Pass bin name
# Create review_count bins
restaurantData3['category']=pd.cut(x= restaurantData3['review_count'], bins=[0, 37, 82, 184, 10129],labels=category)

#restaurantData3.head()

In [ ]:
# *********Dummified binned review_count**************
review_df = pd.get_dummies(restaurantData3["category"])
review_df.head()

restaurantData3[category] = review_df
# pd.set_option('display.max_columns', None) # To display all columns


# *********Dummified price range**************
price_df = pd.get_dummies(restaurantData3["pricerange"])
price_columns=['price_1', 'price_2', 'price_3','price_4']
restaurantData3[price_columns] = price_df
price_df.head(100)

restaurantData3.head(25)

,parking,parking_garage,parking_lot,parking_street,parking_valet,parking_validated,reservations,delivery,takeout,kidsfriendly,acceptcreditcard,outdoorseating,goodForGroups,happyhour,byobfee,tableservice,alcohol,stars,pricerange,wifi,city,state,postal_code,latitude,longitude,is_open,review_count,star_1,star_1.5,star_2.0,star_2.5,star_3.0,star_3.5,star_4.0,star_4.5,star_5.0,category,review_37,review_82,review_184,review_max,price_1,price_2,price_3,price_4
0,"{'garage': False, 'street': False, 'validated'...",0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1,NaN,NaN,NaN,1,2.5,1,0,Las Vegas,NV,89147,36.099738,-115.301568,0.0,15.0,0,0,0,1,0,0,0,0,0,review_37,1,0,0,0,1,0,0,0
1,"{'garage': False, 'street': False, 'validated'...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0,NaN,NaN,0.0,1,3.0,4,0,Cleveland,OH,44113,41.489343,-81.711029,1.0,4.0,0,0,0,0,1,0,0,0,0,review_37,1,0,0,0,0,0,0,1
2,"{'garage': False, 'street': False, 'validated'...",0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1,NaN,NaN,NaN,1,4.0,2,0,Charlotte,NC,28262,35.338070,-80.757397,0.0,15.0,0,0,0,0,0,0,1,0,0,review_37,1,0,0,0,0,1,0,0
3,"{'garage': False, 'street': False, 'validated'...",0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1,NaN,NaN,NaN,1,4.0,1,0,Plum,PA,15239,40.489996,-79.779288,1.0,31.0,0,0,0,0,0,0,1,0,0,review_37,1,0,0,0,1,0,0,0
4,"{'garage': False, 'street': False, 'validated'...",0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1,NaN,NaN,NaN,1,2.5,1,0,Mesa,AZ,85213,33.423705,-111.772890,1.0,130.0,0,0,0,1,0,0,0,0,0,review_184,0,0,1,0,1,0,0,0
5,"{'garage': False, 'street': False, 'validated'...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1,NaN,NaN,NaN,1,2.5,1,0,Las Vegas,NV,89131,36.307495,-115.279059,1.0,37.0,0,0,0,1,0,0,0,0,0,review_37,1,0,0,0,1,0,0,0
6,"{'garage': False, 'street': False, 'validated'...",0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0,NaN,NaN,NaN,1,2.0,1,0,Tempe,AZ,85281,33.414507,-111.923721,1.0,117.0,0,0,1,0,0,0,0,0,0,review_184,0,0,1,0,1,0,0,0
7,"{'garage': False, 'street': True, 'validated':...",0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1,NaN,NaN,NaN,1,3.5,1,0,Scottsdale,AZ,85251,33.493775,-111.925933,1.0,720.0,0,0,0,0,0,1,0,0,0,review_max,0,0,0,1,1,0,0,0
8,"{'garage': False, 'street': False, 'validated'...",0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1,0.0,NaN,1.0,0,4.0,1,1,Parma,OH,44134,41.361185,-81.688755,1.0,60.0,0,0,0,0,0,0,1,0,0,review_82,0,1,0,0,1,0,0,0
9,"{'garage': False, 'street': False, 'validated'...",0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1,NaN,NaN,1.0,1,4.5,1,0,Fairview Park,OH,44126,41.448341,-81.847644,1.0,21.0,0,0,0,0,0,0,0,1,0,review_37,1,0,0,0,1,0,0,0
10,"{'garage': False, 'street': False, 'validated'...",0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1,0.0,NaN,0.0,1,4.0,2,0,Las Vegas,NV,89139,36.043663,-115.241881,0.0,82.0,0,0,0,0,0,0,1,0,0,review_82,0,1,0,0,0,1,0,0
11,"{'garage': False, 'street': True, 'validated':...",0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1,0.0,NaN,NaN,1,5.0,1,0,Charlotte,NC,28202,35.226911,-80.843823,1.0,172.0,0,0,0,0,0,0,0,0,1,review_184,0,0,1,0,1,0,0,0
12,"{'garage': False, 'street': False, 'validated'...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1,0.0,NaN,0.0,1,4.5,1,1,Scottsdale,AZ,85250,33.540451,-111.885229,1.0,35.0,0,0,0,0,0,0,0,1,0,review_37,1,0,0,0,1,0,0,0
13,"{'garage': False, 'street': True, 'validated':...",0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1.0,NaN,1.0,0,3.5,2,1,Scottsdale,AZ,85255,33.674880,-111.888635,1.0,247.0,0,0,0,0,0,1,0,0,0,review_max,0,0,0,1,0,1,0,0
14,"{'garage': False, 'street': False, 'validated'...",0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1,NaN,NaN,NaN,1,4.0,1,0,Las Vegas,NV,89103,36.099361,-115.226636,1.0,141.0,0,0,0,0,0,0,1,0,0,review_184,0,0,1,0,1,0,0,0
15,"{'garage': False, 'street': False, 'validated'...",0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1,NaN,NaN,NaN,1,3.5,1,0,Cleveland,OH,44135,41.440266,-81.800295,0.0,32.0,0,0,0,0,0,1,0,0,0,review_37,1,0,0,0,1,0,0,0
16,"{'garage': False, 'street': False, 'validated'...",0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1,0.0,NaN,1.0,0,4.0,2,1,Fort Mill,SC,29715,35.075476,-80.933904,1.0,267.0,0,0,0,0,0,0,1,0,0,review_max,0,0,0,1,0,1,0,0
17,"{'garage': False, 'street': False, 'validated'...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1,0.0,NaN,1.0,1,5.0,2,1,Las Vegas,NV,89121,36.129178,-115.092483,1.0,222.0,0,0,0,0,0,0,0,0,1,review_max,0,0,0,1,0,1,0,0
18,"{'garage': False, 'street': False, 'validated'...",0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1,NaN,NaN,NaN,1,4.0,2,0,Pittsburgh,PA,15216,40.419899,-80.030052,1.0,91.0,0,0,0,0,0,0,1,0,0,review_184,0,0,1,0,0,1,0,0
19,"{'garage': True, 'street': False, 'validated':...",1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1,NaN,NaN,1.0,1,4.5,2,1,Las Vegas,NV,89146,36.125569,-115.210911,1.0,1142.0,0,0,0,0,0,0,0,1,0,review_max,0,0,0,1,0,1,0,0
20,None,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,1.0,1.0,0.0,1,NaN,NaN,NaN,1,3.5,1,0,Phoenix,AZ,85006,33.458972,-112.047940,1.0,5.0,0,0,0,0,0,1,0,0,0,review_37,1,0,0,0,1,0,0,0
21,"{'garage': False, 'street': True, 'validated':...",0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1,NaN,0.0,NaN,1,3.0,1,1,Champaign,IL,61820,40.118133,-88.242900,0.0,47.0,0,0,0,0,1,0,0,0,0,review_82,0,1,0,0,1,0,0,0
22,"{'garage': False, 'street': False, 'validated'...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1,NaN,NaN,NaN,1,4.0,1,0,Henderson,NV,89052,36.021723,-115.089805,0.0,11.0,0,0,0,0,0,0,1,0,0,review_37,1,0,0,0,1,0,0,0
23,"{'garage': False, 'street': False, 'validated'...",0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1.0,NaN,1.0,1,3.5,2,1,Charlotte,NC,28262,35.311397,-80.746334,0.0,124.0,0,0,0,0,0,1,0,0,0,review_184,0,0,1,0,0,1,0,0
24,"{'garage': False, 'street': False, 'validated'...",0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1,NaN,1.0,NaN,0,4.0,2,1,Charlotte,NC,28204,35.215478,-80.828521,0.0,160.0,0,0,0,0,0,0,1,0,0,review_184,0,0,1,0,0,1,0,0

## Calculate Restaurant Density

In [ ]:
df2=restaurantData3

for index1, row1 in df2.iterrows():
    num_restaurants = 0
    min_lat = row1['latitude']-.07/10
    max_lat = row1['latitude']+.07/10
    min_long = row1['longitude']-.09/10
    max_long = row1['longitude']+.09/10
    df_temp = df2[(df2['latitude']>min_lat) & 
                  (df2['latitude']<max_lat) & 
                  (df2['longitude']>min_long) & 
                  (df2['longitude']<max_long)]
    num_restaurants = len(df_temp)
    df2.loc[index1, 'num_restaurants_1mile'] = num_restaurants - 1 # (subtract 1 to exclude self)"
    
    
df2.head()

,parking,parking_garage,parking_lot,parking_street,parking_valet,parking_validated,reservations,delivery,takeout,kidsfriendly,acceptcreditcard,outdoorseating,goodForGroups,happyhour,byobfee,tableservice,alcohol,stars,pricerange,wifi,city,state,postal_code,latitude,longitude,is_open,review_count,star_1,star_1.5,star_2.0,star_2.5,star_3.0,star_3.5,star_4.0,star_4.5,star_5.0,category,review_37,review_82,review_184,review_max,price_1,price_2,price_3,price_4,num_restaurants_1mile
0,"{'garage': False, 'street': False, 'validated'...",0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1,NaN,NaN,NaN,1,2.5,1,0,Las Vegas,NV,89147,36.099738,-115.301568,0.0,15.0,0,0,0,1,0,0,0,0,0,review_37,1,0,0,0,1,0,0,0,59.0
1,"{'garage': False, 'street': False, 'validated'...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0,NaN,NaN,0.0,1,3.0,4,0,Cleveland,OH,44113,41.489343,-81.711029,1.0,4.0,0,0,0,0,1,0,0,0,0,review_37,1,0,0,0,0,0,0,1,55.0
2,"{'garage': False, 'street': False, 'validated'...",0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1,NaN,NaN,NaN,1,4.0,2,0,Charlotte,NC,28262,35.338070,-80.757397,0.0,15.0,0,0,0,0,0,0,1,0,0,review_37,1,0,0,0,0,1,0,0,15.0
3,"{'garage': False, 'street': False, 'validated'...",0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1,NaN,NaN,NaN,1,4.0,1,0,Plum,PA,15239,40.489996,-79.779288,1.0,31.0,0,0,0,0,0,0,1,0,0,review_37,1,0,0,0,1,0,0,0,0.0
4,"{'garage': False, 'street': False, 'validated'...",0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1,NaN,NaN,NaN,1,2.5,1,0,Mesa,AZ,85213,33.423705,-111.772890,1.0,130.0,0,0,0,1,0,0,0,0,0,review_184,0,0,1,0,1,0,0,0,6.0

In [ ]:
den_category = ['density_<=8', 'density_<=18', 'density_<=38', 'density_<=274'] # Pass bin name
# Create density bins
restaurantData3['den_category']=pd.cut(x= restaurantData3['num_restaurants_1mile'], bins=[0, 8, 18, 38, 274],labels=den_category)

# *********Dummified binned density**************
review_df = pd.get_dummies(restaurantData3["den_category"])
review_df.head()

restaurantData3[den_category] = review_df

#restaurantData3.head(20)

In [ ]:
restaurantData3=restaurantData3.drop(['parking','category','pricerange','num_restaurants_1mile','den_category'], axis=1)

In [ ]:
# Export dataframe to csv file
restaurantData.to_csv(r'cleanedYelpDataAll.csv', index = False) #Export to csv